{% extends 'base.html' %}

{% block content %}
<br><br>

<div class="container w-50 card shadow-lg p-3 mb-5 bg-body-tertiary rounded text-center">
    {% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
    <h1>Welcome to Inventories.</h1>
    {% if user.is_authenticated %}
    {% for inventory in inventories %}
    <div class="row">
        <div class="col-sm-12 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ inventory.inventory_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ inventory.inventory_type }}</h6>
                    <p class="card-text">{{ inventory.inventory_description }}</p>
                    <a href="{% url 'add_product' inventory.id %}" class="btn btn-warning">Add Products</a>
                    <a href="{% url 'products' pk=inventory.id %}" class="btn btn-primary">See Products</a>
                    <a href="{% url 'update_inventory' pk=inventory.id %}" class="btn btn-secondary">Update Inventory</a> 
                    <a href="{% url 'delete_inventory' pk=inventory.id %}" class="btn btn-danger">Delete Inventory</a>    
                </div>
            </div>
        </div>
    </div>
    <br><br>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}