{% extends 'base.html' %}

{% block content %}

<br><br>
<h1>Update Inventory</h1>
<div class="container w-50 card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="inventory_name" value="{{initial_data.inventory_name}}" placeholder="Inventory Name">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" name="inventory_type" value="{{initial_data.inventory_type}}" placeholder="Inventory Type">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="inventory_desc" value="{{initial_data.inventory_description}}" placeholder="Inventory Description">
        </div>
        <a href="{% url 'inventory' %}" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-primary">Update Inventory</button>
    </form>
    </div>

{% endblock %}